/* remove outline of text area box */
/* colors palette i use */
/* 1- #2C3333
2- #395B64
3- #A5C9CA
4- #E7F6F2 */

#textarea:focus,
#textarea:active {
  outline: none !important;
  border-color: black;
  box-shadow: 0 0 0px black;
}

button {
  width: 11.6rem;
  box-shadow: none !important;
}

#copyButton {
  cursor: pointer;
  color: black;
}

#copyButton:hover + #copy {
  background-color: #00000000;
  display: inline-block;
}

/* hover show text */
#copy {
  display: none;
  padding-left: 0.5%;
  background-color: #00000000;
  color: rgb(168, 168, 168);
}

#form {
  margin-top: 70px;
}

#link {
  text-decoration: none;
  color: black;
  margin-top: 9px;
  margin-left: 10px;
}

.page_404 {
  padding: 40px 0;
  background: #fff;
  font-family: "Arvo", serif;
}

.page_404 img {
  width: 100%;
}

.four_zero_four_bg {
  background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
  height: 400px;
  background-position: center;
}

.four_zero_four_bg h1 {
  font-size: 80px;
}

.four_zero_four_bg h3 {
  font-size: 80px;
}

.link_404 {
  color: #fff !important;
  padding: 10px 20px;
  background: #39ac31;
  margin: 20px 0;
  display: inline-block;
}
.contant_box_404 {
  margin-top: -50px;
}

/*---------- heading ----------- */
.masthead {
  padding: 15em 0;
  background-image: url("https://i.imgur.com/D4rA84W.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.masthead-heading {
  font-size: 6em;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: -0.02em;
  text-shadow: 1.5px 3px 0px #395b64;
  color: #e7f6f2;
  margin-top: -0.2em;
}
.masthead-intro {
  font-size: 2em;
  font-family: "Gentium Book Basic", Georgia, serif;
  text-align: center;
  color: #e7f6f2;
  text-shadow: 1.5px 1px 10px #395b64;
  margin-bottom: 0.1em;
}

/*---------- section ----------- */
.intro,
.where-Im-from,
.more-about-me {
  max-width: 38em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  text-align: left;
}

.bold {
  font-weight: bold;
}

.intro > p,
.where-Im-from > p,
.more-about-me > p {
  font-weight: 300;
  letter-spacing: 0.05em;
}

section > h1 {
  font-size: 30px;
  font-family: sans-serif;
  font-weight: bold;
  margin-bottom: 50px;
  padding-top: 30px;
}

.more-about-me > h2 {
  font-size: 1.2em;
  font-family: "Gentium Book Basic";
  font-weight: bold;
  color: #395b64;
}
/*---------- footer ----------- */
.content-footer {
  margin-top: 8em;
  padding-top: 4em;
  padding-bottom: 4em;
  background-color: #2c3333;
  color: white;
}

.content-footer > p {
  font-weight: 300;
  text-align: center;
  letter-spacing: 0.05em;
  font-family: "Open Sans";
}

@media only screen and (max-width: 500px) {
  .masthead {
    padding: 3em 0;
  }
  .masthead-heading {
    font-size: 3em;
  }
  .intro,
  .where-Im-from,
  .more-about-me,
  .content-footer {
    font-size: 0.5em;
  }
}

@media only screen and (max-width: 500px) {
  .masthead {
    padding: 3em 0;
  }
  .masthead-heading {
    font-size: 3em;
  }
  .intro,
  .where-Im-from,
  .more-about-me,
  .content-footer {
    font-size: 0.5em;
  }
}
